<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/Header.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <title>CESA | Votes</title>
</head>

<body>
    <header>
        <div>
            <div class="head">
                <div class="menu-head">
                    <img src="/assets/logo.png" />
                </div>
            </div>
        </div>
    </header>
    <main>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjrBPS_OJeX71guI1kABWFHk3fvz8dJSpzY9AsQGsJNAAH3Q/viewform?embedded=true" width="100%" height="2420px" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
    </main>
    <!-- <div class="container">
        <h3>Présidence</h3>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Esther_Apoba.jpg" alt="">
                <h5>Esther Apoba | 0 Votes</h5>
                <input type="radio" id="Esther Apoba" name="presidence" value="Esther Apoba" /><label
                    for="Esther Apoba"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Pavel_Eyoum.jpg" alt="">
                <h5>Pavel Eyoum | 0 votes</h5>
                <input type="radio" id="Pavel Eyoum" name="presidence" value="Pavel Eyoum" /><label
                    for="Pavel Eyoum"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>
        <h3>Vice Présidence</h3>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Njaba_Martine.jpg" alt="">
                <h5>Martine Njaba | 0 votes</h5>
                <input type="radio" id="Njaba Martine" name="vicePresidence" value="Njaba Martine" /><label
                    for="Njaba Martine"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Atangana_Marcelle.jpg" alt="">
                <h5>Marcelle Atangana | 0 votes</h5>
                <input type="radio" id="Atangana Marcelle" name="vicePresidence" value="Atangana Marcelle" /><label
                    for="Atangana Marcelle"><span
                        style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Eboule_Alain.jpg" alt="">
                <h5>Alain Eboule | 0 votes</h5>
                <input type="radio" id="Eboule Alain" name="vicePresidence" value="Eboule Alain" /><label
                    for="Eboule Alain"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>

        <h3>Trésorerie</h3>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Ekosso_Kiriane.jpg" alt="">
                <h5>Kiriane Ekosso | 0 votes</h5>
                <input type="radio" id="Ekosso Kiriane" name="Tresorerie" value="Ekosso Kiriane" /><label
                    for="Ekosso Kiriane"><span
                        style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>

        <h3>Responsable Académique</h3>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Bakadal_Jean.jpg" alt="">
                <h5>Jean Bakadal | 0 votes</h5>
                <input type="radio" id="Bakadal Jean" name="Responsable_academique" value="Bakadal Jean" /><label
                    for="Bakadal Jean"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>

        <h3>Secretaire General</h3>
        <div class="candidat-content">
            <div class="candidat">
                <img src="./assets/Kanga_Vanina.jpg" alt="">
                <h5>Vanina Kanga | 0 votes</h5>
                <input type="radio" id="Kanga Vanina" name="Secretaire_general" value="BKanga Vanina" /><label
                    for="Kanga Vanina"><span style="font-size:20px; font-family:Montserrat,serif; color:white;">Mon
                        choix❤️</span></label>
            </div>
        </div>

    </div>
    <div class="Submit-button">
        <button class="noselect" onclick={handleSubmit()}><span class="text">Enregistrer</span><span
                class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M19.0001 13.9999V16.9999H22.0001V18.9999H18.9991L19.0001 21.9999H17.0001L16.9991 18.9999H14.0001V16.9999H17.0001V13.9999H19.0001ZM20.2426 4.75736C22.505 7.0244 22.5829 10.636 20.4795 12.992L19.06 11.574C20.3901 10.0499 20.3201 7.65987 18.827 6.1701C17.3244 4.67092 14.9076 4.60701 13.337 6.01688L12.0019 7.21524L10.6661 6.01781C9.09098 4.60597 6.67506 4.66808 5.17157 6.17157C3.68183 7.66131 3.60704 10.0473 4.97993 11.6232L13.412 20.069L11.9999 21.485L3.52138 12.993C1.41705 10.637 1.49571 7.01901 3.75736 4.75736C6.02157 2.49315 9.64519 2.41687 12.001 4.52853C14.35 2.42 17.98 2.49 20.2426 4.75736Z">
                    </path>
                </svg></span></button>
    </div> -->
    <footer>
        <div class="footer">
            <p>All rights reserved CESA | Designed with ❤️ by <a href="simbtech.com" target="_blank">simbtech</a></p>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>